body{
    background-color: #C8c8c8;
}

.email{
    width: 500px;
    height: 90px;
    background-color: white;
    margin: 150px auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.div{
    display: grid;
    grid-template-columns: 50% 50%;
}

.formasdepagamento{
    margin: 1cm 0 auto auto;
    text-align: right;
    font-size: 30px;
}

.item{
text-decoration: none;
display: flex;
padding: 20px;
border: solid black 2px;
margin-right: 200px;
text-align: center;
margin-bottom: 10px;
}

.item:hover{
    background-color: rgb(245, 245, 245);
}

.item:active{
    background-color: rgb(29, 29, 241);
}

.input{
border: none;
outline: none;
font-size: 25px;
border-bottom: 1px solid black;
text-decoration: none;
}

.emailtexto{
margin-left: 0;
font-family: 10px;
}


@media screen and (max-width: 600px){
    .input{
        margin-right: 1em;
    }

    .item{
        margin-right: 5px;
        text-align: center;
        font-size: 20px;
    }
}